In [45]:
import time
import pandas as pd

In [47]:
# importing data
path = r'C:\Users\OXXO\Downloads\recommends.csv'
df = pd.read_csv(path, header=None, chunksize=100000, iterator=True)

start = time.time()

all_data = []
for chunk in df:
    all_data.append(chunk)

end = time.time()
print("To create {} sized database, it took {}".format(\
                                              len(all_data), end-start))

To create 600 sized database, it took 160.51911878585815

In [61]:
# one chunk of the data
piece = all_data[352]
piece

                   0           1    2
35200000  wkiC9OCz42  ZgOGcoOD0k  0.7
35200001  ePmVoBPWyl  PkybHPkyBH  0.6
35200002  TIbGji8SWE  cayw4SZyD4  0.7
35200003  zEeo9ZzEdh  HMbyfoasFT  0.7
35200004  d2YkKeNXnt  a2BS6yV9eh  0.6
...              ...         ...  ...
35299995  CZbQJcPTYy  Ufzryl2miI  0.7
35299996  yExyu1KOcr  yuAh8la2VE  0.5
35299997  SGWFKCOoQb  IOaixhTAtK  0.5
35299998  6xM6epidad  XFk9FplTFJ  0.6
35299999  L2VB6MHqJZ  KEbBRVfeKC  1.0

[100000 rows x 3 columns]

In [108]:
# findind indices of the key appearing in recommends
key = piece[0][35200000] # 'wkiC9OCz42'
recoms = []

for chunk in all_data:
    for i, j in enumerate(chunk[1]):
        if j == key:
            recoms.append(chunk.iloc[i].name)

len(recoms)

55